/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  font-size: 32px;
  color: #000000;
}

h4 {
  font-size: 20px;
}

header {
  height: 300px;
  width: 100%;
}

.logo {
  width: 100%;
  background-color: salmon;
}

.nav {
  text-align: left;
  background-color: salmon;
  width: 1024px;
}

.nav-list{
  display: flex;
  justify-content: center;
}


.nav-logo{
  padding: 0 30px;
  font-size: 16px;
  text-align: right;
  
}

main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 650px;
}

main {
  height: 2000px;
  width: 840px;
  margin: 0 auto;
}

.box1 {
  background-color: pink;
  height: 500px;
  width: 100%;
}

.box2 {
  background-color: hotpink;
  height: 500px;
  width: 100%;
}

.s-box {
  display: flex;
  justify-content: center;
}

.box3 {
  background-color: rgb(185, 185, 185);
  height: 500px;
  width: 100%;
}

.box4 {
  background-color: rgb(218, 132, 210);
  height: 500px;
  width: 100%;
}

footer {
  background-color: salmon;
  height: 100px;
  width: 100%;
}
footer p {
  font-size: 16px;
}
