/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  font-size: 32px;
  color: #000000;
}

h4 {
  font-size: 20px;
}

header {
  height: 300px;
  width: 100%;
}

.logo {
  width: 100%;
  background-color: salmon;
}

.nav {
  text-align: left;
  background-color: salmon;
  width: 1024px;
}

.nav-list{
  display: flex;
  justify-content: center;
}


.nav-logo{
  padding: 0 30px;
  font-size: 16px;
  text-align: right;
  
}

.main-visual {
  height: auto;
  background-image: url(mv.png);
  background-size: cover;
  background-size: 100%,650px;
  background-position: center;
  text-align: center;
  padding-bottom :10px;
}

.main-visual-title{
  font-size: 64px;
  color:#fafafa
}

.main-visual-text{
  font-size: 20px;
  color:#fafafa
}

main {
  height: 2000px;
  width: 840px;
  margin: 0 auto;
}

.box1 {
  height: 500px;
  width: 920px;
  text-align: center;
}

.mainbox{
  display: flex;
  justify-content: center;
}

.img1{
  background-image: url(sketch.jpg);
  background-size: cover;
  background-position: center;
}

.img2{
  background-image: url(websuku.png);
  background-size: cover;
  background-position: center;
}

.img3{
  background-image: url(write.jpg);
  background-size: cover;
  background-position: center;
}

.img4{
  background-image: url(webcamp.png);
  background-size: cover;
  background-position: center;
}

.img5{
  background-image: url(talk.jpg);
  background-size: cover;
  background-position: center;
}

.img1{
  background-image: url(webcamp-mother.png);
  background-size: cover;
  background-position: center;
}



.box2 {
  background-color: hotpink;
  height: 500px;
  width: 100%;
}

.s-box {
  display: flex;
  justify-content: center;
}

.box3 {
  background-color: rgb(185, 185, 185);
  height: 500px;
  width: 100%;
}

.box4 {
  background-color: rgb(218, 132, 210);
  height: 500px;
  width: 100%;
}

footer {
  background-color: salmon;
  height: 100px;
  width: 100%;
}
footer p {
  font-size: 16px;
}
