/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.box{
  width: 1024px;
  margin: 0 auto;
}

h3 {
  font-size: 32px;
  color: #000000;
}

h4 {
  font-size: 20px;
}

p{
  font-size: 16px;
}

header {
  height: 70px;
  width: 100%;
  background-color:#EC715F;
}

.header-group{
  display: flex;
  justify-content: center;
  font-size: 0;
}

.logo {
 height: 70px;
}

.nav {
  display: flex;
  list-style-type: none
}

.nav-logo{
  width: 120px;
  line-height: 70px;
  color: #FAFAFA;
  padding: 0, 30px;
  font-size: 16px;
}

.nav-list a {
  color: #FAFAFA;
}

.main-visual {
  width: 100%;
  height: 650px;
  text-align: center;
  color: #FAFAFA;
  background-image: url(mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual-title{
  padding-top: 200px;
  font-family: 'Raleway', sans-serif;
  font-size: 64px;
  color:#fafafa
}

.main-visual-text{
  padding-top: 10px;
  font-size: 20px;
  color:#fafafa
}

/* main {
  height: 2000px;
  width: 840px;
  margin: 0 auto;
} */

/* .box1 {
  height: 500px;
  width: 920px;
  text-align: center;
} */
.Portfolio{
  background-color: #ECEFF1;
}

.heading{
  text-align: center;
  padding-top: 90px;
  font-family: "Railway", sans-serif;
  font-size: 32px;
}

.heading::after{
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC725F;
}

.heading-text{
  padding: 30px;
  text-align: center;
  font-size: 16px;
}

.mainbox{
  display: flex;
  flex-flow: row wrap;
  width: 920px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.production{
  width: 300px;
  height: 250px;
  margin: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
}

.production:nth-child(-n+3){
	margin-top: 0;

.production:nth-child(3n){
    margin-right: 0;
}

.bg-1{
	background-image: url(../img/sketch.jpg);
}

.bg-2{
	background-image: url(../img/websuku.png);
}

.bg-3{
	background-image: url(../img/write.jpg);
}

.bg-4{
	background-image: url(../img/webcamp.png);
}

.bg-5{
	background-image: url(../img/talk.jpg);
}

.bg-6{
	background-image: url(../img/webcamp-mother.png);
}


/* 
.box2 {
  background-color: rgb(253, 250, 251);
  text-align: center;
  width: 980px;
  padding:90px 0 ;
} */


.s-box {
  padding-top: 30px;
  display: flex;
  width: 980px;
  padding: 30px 0 30px 0;
  margin: 0 auto;
}

.strength{
  width: 320px;
  margin-right: 10px;
  text-align: center;
  font-size: 60px;
}

.strength:last-child{
  margin-right: 0;
}

.strength-title{
  padding: 10px 0 ;
  font-size: 20px;
}

.strength-text{
  text-align: left;
  font-size: 16px;
}

#feature{
  background-size: cover;
  background-position:center ;
}



.profile{
  border-bottom: 3px solid #EC725F;
  display: inline-block;
  padding-bottom: 8px;
}

.box4 {
  background-color: rgb(218, 132, 210);
  height: 500px;
  width: 100%;
  text-align: center;
}

.content{
  border-bottom: 3px solid #EC725F;
  display: inline-block;
  padding-bottom: 8px;
}

footer {
  background-color: salmon;
  height: 100px;
  width: 100%;
  text-align: center;
}
footer p {
  font-size: 16px;
}

.social i {
  color:black;
}
/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:1024px) {
  .social i {
    color: green;
  }
}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  .social i {
    color: red;
  }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
  .social i {
    color: blue;
  }
}